body{color: rgb(0, 0, 0);

}

#HomeP{
    color: rgb(9, 255, 243);
    background-color:rgba(0, 0, 0, .01) ;
    font-weight: bolder;
    font-size: x-large;
    
}


.character-display{color: rgb(204, 0, 255);
font-size: 35px;
text-align: center;
margin-top: 5%;
font-weight: bolder;
background-color: rgba(0, 0, 0, 0.822);
}